
body {
    background-image: url("../images/image1.jpg");
    padding: 20px 10px;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #3A4439;
    border-radius: 25px;
    height: 90px;
}

li {
    float: left;
    margin: 15px;
    font-family: cursive;
    margin-right: 117px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
    font-size: 20px;
}

/*li a:hover {*/
    /*background-color: #4C4F3E;*/
    /*height: 90px;*/
    /*margin: 15px;*/

/*}*/

