
body {
    background: #e3e3e3;
    padding: 20px 10px;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #4C4F3E;
    border-radius: 25px;
    height: 90px;
}

li {
    float: left;
    margin: 15px;
    font-family: cursive;
    margin-right: 117px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color: #4C4F3E;
    height: 90px;
    margin: 15px;

}
.image {
    position: relative;
    overflow: hidden;
}
